*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

:root {
  --main-color: #757575;
  --black-color: #212121;
  --main-bg-color: #fff;
  --accent-color: #2196f3;
  --white-text-color: #fff;
  --image-bg-color: blanchedalmond;
  --margin-left-for-lists: 30px;
  --font-weight-bold: 700;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

/*header*/
.header::after {
  content: "";
  display: block;
  border-bottom: 1px solid #ececec;
  margin-bottom: 5px;
}

.block {
  display: flex;
  align-items: center;
  padding: 24px 10px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-link {
  padding: 32px 0;
}

.contact-item:not(:first-child) {
  margin-left: 50px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.item:not(:first-child) {
  margin-left: var(--margin-left-for-lists);
}
.second-word {
  color: #000;
}
.nav-link,
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--black-color);
}

.contact-link {
  color: inherit;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/*----------hero----------*/

.hero,
.footer {
  background-color: #2f303a;
}

.hero {
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.hero-btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*---------advantages--------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
}

.title {
  margin-bottom: 50px;
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black-color);
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: inherit;
}

/*-----------our works-----------*/
.work-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.work-image,
.portfolio-image {
  display: block;
  height: 294px;
  background-color: var(--image-bg-color);
}

/*-----------our team-----------*/

.section-team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  justify-content: center;
  text-align: center;
}

.team-item {
  background-color: var(--main-bg-color);
}

.team-name {
  margin: 30px 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
}

.team-position {
  margin-bottom: 30px;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: inherit;
}

.team-image {
  display: block;
  height: 260px;
  background-color: var(--image-bg-color);
}

/*----------footer----------*/

.footer {
  padding: 60px 0;
}
.footer-second-word {
  color: var(--white-text-color);
}

.footer-address {
  margin-top: 20px;
  font-style: inherit;
}
.footer-item:not(:first-child) {
  margin-top: 9px;
}

.footer-link,
.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.location {
  color: var(--white-text-color);
}

/*-----------portfolio-----------*/

.portfolio-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-btn-list-item:not(:first-child) {
  margin-left: 8px;
}

.portfolio-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.portfolio-name {
  margin: 20px 24px 4px;
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.portfolio-project {
  margin: 0 24px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.portfolio-images-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* .portfolio-images-list-item:not(:nth-child(3n + 1)) {
  margin-left: 30px;
} */

.portfolio-images-list-item {
  margin-bottom: 30px;
  outline: 1px solid #eeeeee;
}

.portfolio-images-list-item:nth-child(3n + 2) {
  margin-right: 30px;
  margin-left: 30px;
}
